/* Reset e configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica, Arial, sans-serif;
}
html {
    overflow-x: hidden;
}
body {
    width: 100%;
    overflow-x: hidden;
}

/* Header e Nav Bar */
header {
    background-color: rgb(6, 7, 53);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
}

.img-logo {
    width: 50px;
}

.nav-contain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 12px;
}

.nav-contain a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: .3s;
    padding: 10px;
}

.nav-contain a:hover {
    color: rgb(123, 123, 123);
}

.nav-contain button {
    background-color: white;
    color: rgb(6, 7, 53);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 18px;
    cursor: pointer;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.nav-contain button:hover {
    background-color: rgb(123, 123, 123);
    color: #fff;
}

/* Setup */
.setup {
    background-image: url(../img/mainbanner.png);
    height: 600px;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.setup-filho {
    font-size: 2.1em;
    padding: 15px;
}

/* Qualidades */
.qualidades {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 200px;
}

.seguranca,
.performace,
.suporte {
    width: 30%;
    min-width: 200px;
    height: 250px;
    padding: 20px;
    text-align: center;
}

.seguranca img,
.performace img,
.suporte img {
    width: 50px;
    margin-bottom: 15px;
}

/* Domínio */
.dominio {
    margin-top: 80px;
    background-color: rgba(51, 45, 71, 0.6);
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 0.9rem;
    color: #fff;
}

.dominio h1 {
    font-size: 2.5em;
    margin-top: 20px;
}

.dominio p {
    color: #f0eded7e;
    font-size: 1.8em;
    margin-bottom: 15px;
}

#dominioInput {
    padding: 20px;
    width: 355px;
    border-radius: 15px;
    border: 1px solid black;
    text-align: center;
    color: black;
    font-size: 1.5em;
}

#dominioBtn {
    padding: 20px;
    margin: 20px;
    width: 255px;
    border-radius: 15px;
    background-color: rgb(125, 169, 61);
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}

/* Questionário Final */
.questionario-final {
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-contain {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

.form-subscribe,
.project-idea {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.project-idea {
    flex-direction: column;
}

.form-subscribe input {
    padding: 10px;
    border-radius: 11px;
}

.project-idea textarea,
.project-idea input[type="text"] {
    width: 25%;
    margin: 5px 0px;
    padding: 15px;
    border-radius: 11px;
}

.project-idea input[type="submit"] {
    padding: 8px;
    width: 150px;
    cursor: pointer;
    background-color: rgb(125, 169, 61);
    color: #fff;
    font-size: 1.2rem;
    border-radius: 10px;
}

/* Menu Hambúrguer - padrão escondido */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
}   